<div id="tab-store" class="tab-pane">
  <div class="row mb-3 required">
    <label for="input-owner" class="col-sm-2 col-form-label">{{ entry_owner }}</label>
    <div class="col-sm-10">
      <input type="text" name="config_owner" value="{{ config_owner }}" placeholder="{{ entry_owner }}" id="input-owner" class="form-control"/>
      <div id="error-owner" class="invalid-feedback"></div>
    </div>
  </div>
  <div class="row mb-3 required">
    <label for="input-address" class="col-sm-2 col-form-label">{{ entry_address }}</label>
    <div class="col-sm-10">
      <textarea name="config_address" rows="5" placeholder="{{ entry_address }}" id="input-address" class="form-control">{{ config_address }}</textarea>
    </div>
  </div>
  <div class="row mb-3">
    <label for="input-geocode" class="col-sm-2 col-form-label">{{ entry_geocode }}</label>
    <div class="col-sm-10">
      <input type="text" name="config_geocode" value="{{ config_geocode }}" placeholder="{{ entry_geocode }}" id="input-geocode" class="form-control"/>
      <div class="form-text">{{ help_geocode }}</div>
    </div>
  </div>
  <div class="row mb-3 required">
    <label for="input-email" class="col-sm-2 col-form-label">{{ entry_email }}</label>
    <div class="col-sm-10">
      <input type="text" name="config_email" value="{{ config_email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
      <div id="error-email" class="invalid-feedback"></div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="input-telephone" class="col-sm-2 col-form-label">{{ entry_telephone }}</label>
    <div class="col-sm-10">
      <input type="text" name="config_telephone" value="{{ config_telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control"/>
      <div id="error-telephone" class="invalid-feedback"></div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="input-image" class="col-sm-2 col-form-label">{{ entry_image }}</label>
    <div class="col-sm-10">
      <div class="p-2 border rounded d-inline-block" style="min-width: 150px; max-width: 200px;">
        <img src="{{ thumb }}" alt="" title="" id="thumb-image" data-oc-placeholder="{{ placeholder }}" class="img-fluid"/> <input type="hidden" name="config_image" value="{{ config_image }}" id="input-image"/>
        <div class="mt-2 input-group justify-content-center">
          <button type="button" data-oc-toggle="image" data-oc-target="#input-image" data-oc-thumb="#thumb-image" class="btn btn-primary"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>
          <button type="button" data-oc-toggle="clear" data-oc-target="#input-image" data-oc-thumb="#thumb-image" class="btn btn-warning"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="input-open" class="col-sm-2 col-form-label">{{ entry_open }}</label>
    <div class="col-sm-10">
      <textarea name="config_open" rows="5" placeholder="{{ entry_open }}" id="input-open" class="form-control">{{ config_open }}</textarea>
      <div class="form-text">{{ help_open }}</div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="input-comment" class="col-sm-2 col-form-label">{{ entry_comment }}</label>
    <div class="col-sm-10">
      <textarea name="config_comment" rows="5" placeholder="{{ entry_comment }}" id="input-comment" class="form-control">{{ config_comment }}</textarea>
      <div class="form-text">{{ help_comment }}</div>
    </div>
  </div>
  {% if locations %}
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">{{ entry_location }}</label>
      <div class="col-sm-10">
        <div class="form-control" style="height: 150px; overflow: auto;">
          {% for location in locations %}
            <div class="form-check">
              <input type="checkbox" name="config_location[]" value="{{ location.location_id }}" id="input-location-{{ location.location_id }}" class="form-check-input"{% if location.location_id in config_location %} checked{% endif %}/> <label for="input-location-{{ location.location_id }}" class="form-check-label">{{ location.name }}</label>
            </div>
          {% endfor %}
        </div>
        <div class="form-text">{{ help_location }}</div>
      </div>
    </div>
  {% endif %}
</div>
