<div id="tab-general" class="tab-pane active">
  <fieldset>
    <legend>{{ text_site }}</legend>
    <div class="row mb-3 required">
      <label for="input-name" class="col-sm-2 col-form-label">{{ entry_name }}</label>
      <div class="col-sm-10">
        <input type="text" name="config_name" value="{{ config_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
        <div id="error-name" class="invalid-feedback"></div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-theme" class="col-sm-2 col-form-label">{{ entry_theme }}</label>
      <div class="col-sm-10">
        <select name="config_theme" id="input-theme" class="form-select">
          {% for theme in themes %}
            <option value="{{ theme.value }}"{% if theme.value == config_theme %} selected{% endif %}>{{ theme.text }}</option>
          {% endfor %}
        </select>
        <br/>
        <img src="" alt="" id="theme-thumb" class="img-thumbnail"/>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-layout" class="col-sm-2 col-form-label">{{ entry_layout }}</label>
      <div class="col-sm-10">
        <select name="config_layout_id" id="input-layout" class="form-select">
          {% for layout in layouts %}
            <option value="{{ layout.layout_id }}"{% if layout.layout_id == config_layout_id %} selected{% endif %}>{{ layout.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-logo" class="col-sm-2 col-form-label">{{ entry_logo }}</label>
      <div class="col-sm-10">
        <div class="p-2 border rounded d-inline-block" style="min-width: 150px; max-width: 200px;">
          <img src="{{ logo }}" alt="" title="" id="thumb-logo" data-oc-placeholder="{{ placeholder }}" class="img-fluid"/> <input type="hidden" name="config_logo" value="{{ config_logo }}" id="input-logo"/>
          <div class="mt-2 input-group justify-content-center">
            <button type="button" data-oc-toggle="image" data-oc-target="#input-logo" data-oc-thumb="#thumb-logo" class="btn btn-primary"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>
            <button type="button" data-oc-toggle="clear" data-oc-target="#input-logo" data-oc-thumb="#thumb-logo" class="btn btn-warning"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-icon" class="col-sm-2 col-form-label">{{ entry_icon }}</label>
      <div class="col-sm-10">
        <div class="p-2 border rounded d-inline-block" style="min-width: 150px; max-width: 200px;">
          <img src="{{ icon }}" alt="" title="" id="thumb-icon" data-oc-placeholder="{{ placeholder }}" class="img-fluid"/> <input type="hidden" name="config_icon" value="{{ config_icon }}" id="input-icon"/>
          <div class="mt-2 input-group justify-content-center">
            <button type="button" data-oc-toggle="image" data-oc-target="#input-icon" data-oc-thumb="#thumb-icon" class="btn btn-primary"><i class="fa-solid fa-pencil"></i> {{ button_edit }}</button>
            <button type="button" data-oc-toggle="clear" data-oc-target="#input-icon" data-oc-thumb="#thumb-icon" class="btn btn-warning"><i class="fa-regular fa-trash-can"></i> {{ button_clear }}</button>
          </div>
        </div>
        <div class="form-text">{{ help_icon }}</div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>{{ text_meta }}</legend>
    <ul class="nav nav-tabs">
      {% for language in languages %}
        <li class="nav-item"><a href="#language-{{ language.language_id }}" data-bs-toggle="tab" class="nav-link{% if loop.first %} active{% endif %}"><img src="{{ language.image }}" title="{{ language.name }}"/> {{ language.name }}</a></li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      {% for language in languages %}
        <div id="language-{{ language.language_id }}" class="tab-pane{% if loop.first %} active{% endif %}">
          <div class="row mb-3 required">
            <label for="input-meta-title-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_meta_title }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <div class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"/></div>
                <input type="text" name="config_description[{{ language.language_id }}][meta_title]" value="{{ config_description[language.language_id] ? config_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title-{{ language.language_id }}" class="form-control"/>
                <div id="error-meta-title-{{ language.language_id }}" class="invalid-feedback"></div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-meta-description-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_meta_description }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <div class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"/></div>
                <textarea name="config_description[{{ language.language_id }}][meta_description]" rows="3" placeholder="{{ entry_meta_description }}" id="input-meta-description-{{ language.language_id }}" class="form-control">{{ config_description[language.language_id] ? config_description[language.language_id].meta_description }}</textarea>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="input-meta-keyword-{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_meta_keyword }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <div class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"/></div>
                <textarea name="config_description[{{ language.language_id }}][meta_keyword]" rows="3" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword-{{ language.language_id }}" class="form-control">{{ config_description[language.language_id] ? config_description[language.language_id].meta_keyword }}</textarea>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </fieldset>
</div>
<script type="text/javascript">
  $('#input-theme').on('change', function () {
    var element = this;

    $.ajax({
      url: 'index.php?route=setting/setting.theme&user_token={{ user_token }}&theme=' + this.value,
      dataType: 'html',
      beforeSend: function () {
        $(element).prop('disabled', true);
      },
      complete: function () {
        $(element).prop('disabled', false);
      },
      success: function (html) {
        $('#theme-thumb').attr('src', html);
      },
      error: function (xhr, ajaxOptions, thrownError) {
        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  });

  $('#input-theme').trigger('change');
</script>
