<div id="tab-mail" class="tab-pane">
  <fieldset>
    <legend>{{ text_general }}</legend>
    <div class="row mb-3">
      <label for="input-mail-engine" class="col-sm-2 col-form-label">{{ entry_mail_engine }}</label>
      <div class="col-sm-10">
        <select name="config_mail_engine" id="input-mail-engine" class="form-select">
          <option value="">{{ text_none }}</option>
          <option value="mail"{% if config_mail_engine == 'mail' %} selected{% endif %}>{{ text_mail }}</option>
          <option value="smtp"{% if config_mail_engine == 'smtp' %} selected{% endif %}>{{ text_smtp }}</option>
        </select>
        <div class="form-text">{{ help_mail_engine }}</div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-mail-parameter" class="col-sm-2 col-form-label">{{ entry_mail_parameter }}</label>
      <div class="col-sm-10">
        <input type="text" name="config_mail_parameter" value="{{ config_mail_parameter }}" placeholder="{{ entry_mail_parameter }}" id="input-mail-parameter" class="form-control"/>
        <div class="form-text">{{ help_mail_parameter }}</div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>{{ text_smtp }}</legend>
    <div class="row mb-3">
      <label for="input-mail-smtp-hostname" class="col-sm-2 col-form-label">{{ entry_mail_smtp_hostname }}</label>
      <div class="col-sm-10">
        <input type="text" name="config_mail_smtp_hostname" value="{{ config_mail_smtp_hostname }}" placeholder="{{ entry_mail_smtp_hostname }}" id="input-mail-smtp-hostname" class="form-control"/>
        <div class="form-text">{{ help_mail_smtp_hostname }}</div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-mail-smtp-username" class="col-sm-2 col-form-label">{{ entry_mail_smtp_username }}</label>
      <div class="col-sm-10">
        <input type="text" name="config_mail_smtp_username" value="{{ config_mail_smtp_username }}" placeholder="{{ entry_mail_smtp_username }}" id="input-mail-smtp-username" class="form-control"/>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-mail-smtp-password" class="col-sm-2 col-form-label">{{ entry_mail_smtp_password }}</label>
      <div class="col-sm-10">
        <input type="text" name="config_mail_smtp_password" value="{{ config_mail_smtp_password }}" placeholder="{{ entry_mail_smtp_password }}" id="input-mail-smtp-password" class="form-control"/>
        <div class="form-text">{{ help_mail_smtp_password }}</div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-mail-smtp-port" class="col-sm-2 col-form-label">{{ entry_mail_smtp_port }}</label>
      <div class="col-sm-10">
        <input type="text" name="config_mail_smtp_port" value="{{ config_mail_smtp_port }}" placeholder="{{ entry_mail_smtp_port }}" id="input-mail-smtp-port" class="form-control"/>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-mail-smtp-timeout" class="col-sm-2 col-form-label">{{ entry_mail_smtp_timeout }}</label>
      <div class="col-sm-10">
        <input type="text" name="config_mail_smtp_timeout" value="{{ config_mail_smtp_timeout }}" placeholder="{{ entry_mail_smtp_timeout }}" id="input-mail-smtp-timeout" class="form-control"/>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>{{ text_mail_alert }}</legend>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">{{ entry_mail_alert }}</label>
      <div class="col-sm-10">
        <div class="form-control" style="height: 150px; overflow: auto;">
          {% set mail_alert_row = 0 %}
          {% for mail_alert in mail_alerts %}
            <div class="form-check">
              <input type="checkbox" name="config_mail_alert[]" value="{{ mail_alert.value }}" id="input-mail-alert-{{ mail_alert_row }}" class="form-check-input"{% if mail_alert.value in config_mail_alert %} checked{% endif %}/> <label for="input-mail-alert-{{ mail_alert_row }}" class="form-check-label">{{ mail_alert.text }}</label>
            </div>
            {% set mail_alert_row = mail_alert_row + 1 %}
          {% endfor %}
        </div>
        <div class="form-text">{{ help_mail_alert }}</div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-mail-alert-email" class="col-sm-2 col-form-label">{{ entry_mail_alert_email }}</label>
      <div class="col-sm-10">
        <textarea name="config_mail_alert_email" rows="5" placeholder="{{ entry_mail_alert_email }}" id="input-mail-alert-email" class="form-control">{{ config_mail_alert_email }}</textarea>
        <div class="form-text">{{ help_mail_alert_email }}</div>
      </div>
    </div>
  </fieldset>
</div>
