<div id="tab-local" class="tab-pane">
  <fieldset>
    <legend>{{ text_region }}</legend>
    <div class="row mb-3">
      <label for="input-country" class="col-sm-2 col-form-label">{{ entry_country }}</label>
      <div class="col-sm-10">
        <select name="config_country_id" id="input-country" class="form-select">
          {% for country in countries %}
            <option value="{{ country.country_id }}"{% if country.country_id == config_country_id %} selected{% endif %}>{{ country.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-zone" class="col-sm-2 col-form-label">{{ entry_zone }}</label>
      <div class="col-sm-10">
        <select name="config_zone_id" id="input-zone" class="form-select"></select>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-timezone" class="col-sm-2 col-form-label">{{ entry_timezone }}</label>
      <div class="col-sm-10">
        <select name="config_timezone" id="input-timezone" class="form-select">
          {% for timezone in timezones %}
            <option value="{{ timezone.value }}"{% if timezone.value == config_timezone %} selected{% endif %}>{{ timezone.text }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{ text_language }}</legend>
    <div class="row mb-3">
      <label for="input-language-catalog" class="col-sm-2 col-form-label">{{ entry_language }}</label>
      <div class="col-sm-10">
        <select name="config_language_catalog" id="input-language-catalog" class="form-select">
          {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == config_language_catalog %} selected{% endif %}>{{ language.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-language-admin" class="col-sm-2 col-form-label">{{ entry_language_admin }}</label>
      <div class="col-sm-10">
        <select name="config_language_admin" id="input-language-admin" class="form-select">
          {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == config_language_admin %} selected{% endif %}>{{ language.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>{{ text_currency }}</legend>
    <div class="row mb-3">
      <label for="input-currency" class="col-sm-2 col-form-label">{{ entry_currency }}</label>
      <div class="col-sm-10">
        <select name="config_currency" id="input-currency" class="form-select">
          {% for currency in currencies %}
            <option value="{{ currency.code }}"{% if currency.code == config_currency %} selected{% endif %}>{{ currency.title }}</option>
          {% endfor %}
        </select>
        <div class="form-text">{{ help_currency }}</div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-currency-engine" class="col-sm-2 col-form-label">{{ entry_currency_engine }}</label>
      <div class="col-sm-10">
        <select name="config_currency_engine" id="input-currency-engine" class="form-select">
          {% for currency_engine in currency_engines %}
            <option value="{{ currency_engine.value }}"{% if currency_engine.value == config_currency_engine %} selected{% endif %}>{{ currency_engine.text }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">{{ entry_currency_auto }}</label>
      <div class="col-sm-10">
        <div class="form-check form-switch form-switch-lg">
          <input type="hidden" name="config_currency_auto" value="0"/> <input type="checkbox" name="config_currency_auto" value="1" id="input-currency-auto" class="form-check-input"{% if config_currency_auto %} checked{% endif %}/>
        </div>
        <div class="form-text">{{ help_currency_auto }}</div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>{{ text_measurement }}</legend>
    <div class="row mb-3">
      <label for="input-length-class" class="col-sm-2 col-form-label">{{ entry_length_class }}</label>
      <div class="col-sm-10">
        <select name="config_length_class_id" id="input-length-class" class="form-select">
          {% for length_class in length_classes %}
            <option value="{{ length_class.length_class_id }}"{% if length_class.length_class_id == config_length_class_id %} selected{% endif %}>{{ length_class.title }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-weight-class" class="col-sm-2 col-form-label">{{ entry_weight_class }}</label>
      <div class="col-sm-10">
        <select name="config_weight_class_id" id="input-weight-class" class="form-select">
          {% for weight_class in weight_classes %}
            <option value="{{ weight_class.weight_class_id }}"{% if weight_class.weight_class_id == config_weight_class_id %} selected{% endif %}>{{ weight_class.title }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </fieldset>
</div>
<script type="text/javascript">
  $('#input-country').on('change', function () {
    var element = this;

    $.ajax({
      url: 'index.php?route=localisation/country.country&user_token={{ user_token }}&country_id=' + this.value,
      dataType: 'json',
      beforeSend: function () {
        $(element).prop('disabled', true);
        $('#input-zone').prop('disabled', true);
      },
      complete: function () {
        $(element).prop('disabled', false);
        $('#input-zone').prop('disabled', false);
      },
      success: function (json) {
        html = '<option value="">{{ text_select|escape('js') }}</option>';

        if (json['zone'] && json['zone'] != '') {
          for (i = 0; i < json['zone'].length; i++) {
            html += '<option value="' + json['zone'][i]['zone_id'] + '"';

            if (json['zone'][i]['zone_id'] == '{{ config_zone_id }}') {
              html += ' selected';
            }

            html += '>' + json['zone'][i]['name'] + '</option>';
          }
        } else {
          html += '<option value="0" selected>{{ text_none|escape('js') }}</option>';
        }

        $('#input-zone').html(html);

        $('#button-save').prop('disabled', false);
      },
      error: function (xhr, ajaxOptions, thrownError) {
        console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  });

  $('#input-country').trigger('change');
</script>
