{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-product" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    {% if master_id %}
      <div class="alert alert-warning"><i class="fa-solid fa-circle-exclamation"></i> {{ text_variant }}</div>
    {% endif %}
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_form }}</div>
      <div class="card-body">
        <form id="form-product" action="{{ save }}" method="post" data-oc-toggle="ajax">
          <ul class="nav nav-tabs">
            <li class="nav-item"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
            <li class="nav-item"><a href="#tab-data" data-bs-toggle="tab" class="nav-link">{{ tab_data }}</a></li>
            <li class="nav-item"><a href="#tab-links" data-bs-toggle="tab" class="nav-link">{{ tab_links }}</a></li>
            <li class="nav-item"><a href="#tab-attribute" data-bs-toggle="tab" class="nav-link">{{ tab_attribute }}</a></li>
            <li class="nav-item"><a href="#tab-option" data-bs-toggle="tab" class="nav-link">{{ tab_option }}</a></li>
            <li class="nav-item"><a href="#tab-subscription" data-bs-toggle="tab" class="nav-link">{{ tab_subscription }}</a></li>
            <li class="nav-item"><a href="#tab-discount" data-bs-toggle="tab" class="nav-link">{{ tab_discount }}</a></li>
            <li class="nav-item"><a href="#tab-image" data-bs-toggle="tab" class="nav-link">{{ tab_image }}</a></li>
            <li class="nav-item"><a href="#tab-reward" data-bs-toggle="tab" class="nav-link">{{ tab_reward }}</a></li>
            <li class="nav-item"><a href="#tab-design" data-bs-toggle="tab" class="nav-link">{{ tab_design }}</a></li>
            <li class="nav-item"><a href="#tab-report" data-bs-toggle="tab" class="nav-link">{{ tab_report }}</a></li>
          </ul>
          <div class="tab-content">
            {{ include_tab_general }}
            {{ include_tab_data }}
            {{ include_tab_links }}
            {{ include_tab_attribute }}
            {{ include_tab_option }}
            {{ include_tab_subscription }}
            {{ include_tab_discount }}
            {{ include_tab_image }}
            {{ include_tab_reward }}
            {{ include_tab_design }}
            {{ include_tab_report }}
          </div>
          <input type="hidden" name="product_id" value="{{ product_id }}" id="input-product-id"/>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  {% if master_id %}
  // Variable products
  $('input[data-oc-toggle=\'switch\']').on('change', function (e) {
    var element = this;

    var target = $(this).attr('data-oc-target');

    // First we need to grab the default values
    // Now we need to enable or disable any fields in the targets
    $.merge($(target), $(target).find('input, textarea, select, button')).not('[data-oc-toggle=\'switch\']').each(function (i, elem) {
      // Text Textarea
      if ($(this).is('input[type=\'text\'], textarea')) {
        $(this).prop('readonly', !$(element).prop('checked'));
      }

      // CKEditor readonly
      if ($(this).is('[data-oc-toggle=\'ckeditor\']')) {
        var editor = CKEDITOR.instances[$(this).attr('id')];

        if (editor.editable() == undefined) {
          editor.on('instanceReady', function () {
            this.setReadOnly(!$(element).prop('checked'));
          });
        } else {
          editor.setReadOnly(!$(element).prop('checked'));
        }
      }

      // Radio Checkbox
      if ($(this).is('input[type=\'radio\'], input[type=\'checkbox\'], div[data-bs-toggle=\'buttons\']')) {
        if (!$(element).prop('checked')) {
          $(this).on('click', function (e) {
            return false;
          });
        } else {
          $(this).off('click');
        }
      }

      // Select
      if ($(this).is('select')) {
        if (!$(element).prop('checked')) {
          $(this).addClass('.disabled');

          $(this).prop('readonly', true);
        } else {
          $(this).removeClass('disabled');

          $(this).prop('readonly', false);
        }

        $(this).find('option').not(':selected').prop('disabled', !$(element).prop('checked'));
      }

      // Button
      if ($(this).is('button')) {
        if (!$(element).prop('checked')) {
          $(this).prop('disabled', true);
        } else {
          $(this).prop('disabled', false);
        }
      }
    });
  });

  $('input[data-oc-toggle=\'switch\']').trigger('change');
  {% endif %}
</script>
{{ footer }}
